@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary: #141414;
    --color-white: #FFFFFF;
}

*{
    box-sizing: border-box;
}

html{
    padding: 0px;
    margin: 0px;
    background-color: var(--color-primary);
}



body{
    margin: 0px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--color-white);
}

img{
    width: 100%
}

/* HEADER */

header,
.header-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: fixed;
    background-color: var(--color-primary);
    z-index: 9000;
    width: 100%;
    padding: 20px;
}

.header-buttons{
    gap: 20px;
}


.header-logo{
    width: 25vw;
    max-width: 120px;
}

.header-logo .platform-title{
    display: none;
}

main {
    min-height: 100vh;
    padding: 150px 20px 20px;
}

/* SECTION TITLE*/

.section-title{
    font-size: 1.5rem;
}

#top-text::after{
    content: '3';
    font-weight: bold;
}

/* TOP */ 
.top{
    display: flex;
    flex-direction: column-reverse;
}

.top .top-item{
    flex: 1;
}

.top .top-item:nth-of-type(1),
.top .top-item:nth-of-type(2){
    display: none;
}

.first, .second{
    display: grid;
    gap: 3px 6px;
}

@media ( 460px >= width){

    main {
        padding-top: 40vw;
    }

}



@media ( 750px <= width){
    .top{
        flex-direction: row-reverse;
    }
}

@media ( 750px <= width < 1125px){

    .header-logo{
        width: 25vw;
        max-width: 150px;
    }

    main{
        padding-top: 170px;
    }

    /* FIRST */
    .first, .second{
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (1125px <= width < 1280px){

    main{
        padding-top: 170px;
    }

    .header-logo{
        width: 25vw;
        max-width: 150px;
    }

    .first, .second{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
            "a a b b"
            "c d e f";
    }

    .first .item:nth-of-type(1),
    .second .item:nth-of-type(1){
        grid-area: a;
    }

    .first .item:nth-of-type(2),
    .second .item:nth-of-type(2){
        grid-area: b;
    }


}

@media (width >= 1280px){
    main{
        padding-top: 200px;
    }

    .header-logo{
        max-width: 50vw;
        display: flex;
        flex: 1;
        align-items: center;
        gap: 1rem
    }

    .header-logo img{
        max-width: 145px;
    }
    
    .header-logo .platform-title{
        display: block;
        width: 100%;
        font-size: 2rem;

    }


    #top-text::after{
        content: '5';
    }
    .top .top-item:nth-of-type(1),
    .top .top-item:nth-of-type(2){
        display: block;
    }

    .first, .second{
        display: flex;
        align-items: center;
    }

    .first .item, 
    .second .item{
        flex: 1;
        transition: flex 0.3s ease-in-out;
    }

    .first .item:hover, 
    .second .item:hover{
        flex: 1.3;
    }
}
